<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Log</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Film Log Application</h1>
            <nav>
                <a href="/">Homepage</a>
                <a href="/movies">List Movies</a>
                <a href="/add_movie">Add Movie</a>
            </nav>
        </header>

        <section class="intro">
            <h2>Welcome!</h2>
            <p>You can add movies and log the movies you have watched.</p>
        </section>
    </div>
</body>
</html>